* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* MOBILE: 400px */
    /* FIRST BREAKPOINT: 550px */

}

/* Variables */
:root {
    --bg-clr: #18191A;
    --bg-cont-clr: #242526;
    --clr-primary: #E4E6EB;

    --clr-blue: #2374E1;
    --svg-primary: #B0B3B8;
    --cont-svg: #3a3b3c;
    --cont-hover-svg: #4e4f50;
}



body {
    background: var(--bg-clr);
    height: 400vh;
}


/* Menu bottom */
header {
    background: var(--bg-cont-clr);
    width: 100%;
    height: 75px;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}

.nav-menu-top {
    background: var(--bg-cont-clr);
    width: 100%;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;

}

.container-svg-menu-top {
    height: 100%;
    width: 100px;
    padding-inline-end: 10px;

    justify-content: space-between;
}

.container-svg-menu-top,
.container-svg-menu-top div {
    display: flex;
    align-items: center;
}

.container-svg-menu-top div {
    background: #3a3c3b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.container-svg-menu-top div svg {
    width: 23px;
    height: 23px;
    fill: var(--svg-primary);
}

.header-list {
    min-width: 100%;
    padding-block-start: 4px;
    padding-inline-start: 5px;
    font-size: 8.9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-item:nth-of-type(1),
.header-list-item:nth-of-type(2),
.header-list-item:nth-of-type(5) {
    position: relative;
}

.header-list-item {
    width: 60px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-list-svg {
    fill: var(--svg-primary);
    min-width: 28px;
    max-height: 28px;
}

.header-list .header-list-item-home {
    fill: var(--clr-blue);
}

header li:nth-of-type(1)::after {
    background: var(--clr-blue);
    min-width: 110%;
    height: 2px;
    border-radius: 5px;
    content: '';

    position: absolute;
    top: -4px;
}

.header-list-span-watch,
.header-list-span-notif {
    background: #e41e3f;
    color: #fff;
    text-align: center;
    font-size: 11px;
    min-width: 20px;
    font-weight: 400;
    border-radius: 25px;

    position: absolute;
    right: 6px;
}

.header-list a {
    margin-block-start: 2px;
}

.header-list-link-act {
    color: var(--clr-blue);
}

.header-list-link-inac {
    color: var(--svg-primary);
}

/* Primeiro breakponint */
.container-menu-frst-break {
    display: none;
    width: 100%;
    height: 100%;
}

.container-menu-frst-break-left {
    width: 151px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-frst-break-left-container-lup {
    background: var(--cont-svg);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-inline-start: 2px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-first-break-left-lup {
    width: 16px;
    border-radius: 5px;

    fill: var(--svg-primary);
}

.menu-frst-break-left-container-menu {
    display: flex;
    border-radius: 7px;
    padding: 10px 11px;
    margin-inline-start: 8px;
    cursor: pointer;

    transition: background 90ms ease-out;
}

.menu-frst-break-left-container-menu:hover {
    background: var(--cont-svg);
}

.header-list-item-menu {
    width: 28px;
    height: 28px;
}

.menu-first-break-left-lup-last-break {
    fill: var(--svg-primary);
    width: 16px;

    position: absolute;
    z-index: 2;
    bottom: 50%;
    left: 76px;
    transform: translateY(50%);
}

.inp-search {
    background: var(--cont-svg);
    color: var(--svg-primary);
    height: 40px;
    width: 240px;
    font-size: 15px;
    padding-inline-start: 35px;
    border: none;
    border-radius: 25px;

    position: relative;

    transition: padding 100ms ease-out;
}

.inp-search:focus {
    z-index: 3;
    padding-inline-start: 15px;
}

.inp-search:focus::placeholder {
    color: #8a8d91;
}

.inp-search::placeholder {
    color: var(--svg-primary);
}

.inp-search:focus {
    outline: none;
}


/* Menu lado direito */
.container-menu-frst-break-right {
    height: 100%;
    width: 184px;

    display: flex;
    align-items: center;
}

.menu-frst-break-right-container-img-name {
    color: var(--clr-primary);
    width: 85px;
    height: 38px;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    margin-inline-start: 10px;
    cursor: pointer;

    transition: background 100ms ease-out;
}

.menu-frst-break-right-container-img-name:hover {
    background: var(--cont-svg);
}

.menu-frst-break-right-container-img-name,
.menu-frst-break-right-container-img-name figure {
    display: flex;
    align-items: center;
}

.menu-frst-break-right-container-img-name img {
    width: 28px;
    border-radius: 50%;
    margin-inline-start: 4px;
}

.menu-frst-break-right-container-img-name span {
    font-size: .9375rem;
    margin-inline-start: 5px;
}

.header-list-scnd {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list-scnd li {
    background: var(--cont-svg);
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    transition: background 100ms ease-out;
}

.header-list-scnd li:hover {
    background: var(--cont-hover-svg);
}

.header-list-scnd li div {
    display: flex;
    justify-content: center;
}

.header-list-scnd svg {
    fill: #e4e6eb;
    min-width: 20px;
}


/* Animations */
.header-list-item-notif {
    animation-name: sine;
    animation-duration: 1000ms;
}

@keyframes sine {

    10%,
    90% {
        transform: rotate(40deg);
    }

    90%,
    100% {
        transform: rotate(-40deg);
    }

}


/* Breakpoint 550px */
@media (min-width: 550px) {
    body {
        align-items: flex-start;
    }

    header {
        border-block-end: 1px solid #8080803f;

        display: flex;
        padding-inline: 16px;
        top: 0;
        height: 56px;
    }

    nav {
        width: 100%;
    }

    .header-list,
    .nav-menu-top {
        display: none;
    }

    .container-menu-frst-break {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 550px) and (max-width: 700px) {
    .container-menu-frst-break-middle {
        display: none;
    }
}

@media (min-width: 700px) {
    .menu-frst-break-left-container-menu {
        display: none;
    }

    .container-menu-frst-break-left {
        width: 88px;
    }
}

@media (max-width: 1199px) {
    .middle-gaming-svg {
        display: none;
    }

    .menu-frst-break-right-menu-svg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .middle-mais-svg {
        display: none;
    }

    .menu-frst-break-right-mais-svg {
        display: none;
    }
}

@media (max-width: 1260px) {

    .inp-search,
    .menu-frst-break-right-container-img-name {
        display: none;
    }

    .container-menu-frst-break-middle {
        min-width: 30%;
    }
}

@media (min-width: 1260px) {
    .menu-frst-break-left-container-lup {
        display: none;
    }

    .container-menu-frst-break-left {
        width: 288px;
    }

    .container-menu-frst-break-middle ul {
        width: 115%;
    }

    .container-menu-frst-break-right {
        width: 288px;
        justify-content: space-between;
    }

    .container-menu-frst-break-right ul {
        width: 184px;
    }
}

/* 700px */
.container-menu-frst-break-middle {
    min-width: 47%;
    height: 100%;
}

.container-menu-frst-break-middle ul {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.container-menu-frst-break-middle ul li {
    width: 18%;
    height: 85%;
    cursor: pointer;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 160ms ease-out;
}

.container-menu-frst-break-middle ul li:hover:not(.container-menu-frst-break-middle ul li:first-of-type) {
    background: var(--cont-svg);
}

.middle-inactive-svg {
    fill: var(--svg-primary);
}

.middle-home-svg {
    fill: var(--clr-blue);
}

.container-menu-frst-break-middle ul li:first-of-type {
    position: relative;
}

.container-menu-frst-break-middle ul li:first-of-type::after {
    background: var(--clr-blue);
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 25px;

    position: absolute;
    top: 48.3px;
}

.container-menu-frst-break-middle ul li:nth-of-type(2) {
    position: relative;
}